/*//////color change for menus start//////////*/
#crops-home{
    color:black;
    background:rgb(255, 255, 255);
}
#crops-home:hover{
    background-color: #29ca8e;
    color: #ffffff;
}
#agric-news-agric-news{
    background-color: #29ca8e;
    color: #ffffff;
}
.ocp-pic-1{
    width:100%;
    margin:0 auto;
    text-align: center;
}
.light-black{
    font-size: 15px;
}
[src="images/37th-farmers-day-img.jpg"]{
    height:auto;
    width:85%;
    display:inline-block;
    margin: 0 auto;
}
[href="#woli-address"]{
    display:inline-block;
    color:white;
    background-color: #29ca8e;
    padding:3px;
    border-radius: 4px;
}

[href="#woli-address"]:hover{
    display:inline-block;
    color:rgb(236, 241, 234);
    background-color: #29ca8e;
    padding:3px;
    border-radius: 4px;
}
.old-news{
    /* border:2px solid yellow; */
    margin:0 auto;
    max-width:1024px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    padding:30px 0 5px 0 ;
    position:relative;
}
.old-new-box{
    flex-basis: 300px;
    height:auto;
    background:#29ca8fb4;
    margin:3px;
    position:relative;
    color:white;
    text-align:center;
    font-size: 20px;
    box-shadow:3px 3px 5px rgb(31, 29, 29);
}
.old-new-box:hover{
   color:rgb(246, 241, 241);
}
[src="images/ocp-pic-1.jpg"]::after{
    content: "OCP soil testing in the Sene West District";
    position:absolute;
    top:10px;
    }
    .right-img{
        border:2px dotted rgb(218, 206, 206);
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .ocp-news{
        padding-bottom: 0px;
    }
    .other-issues{
        position:absolute;
        top:0;
        font-size: 20px;
        color:rgba(1, 19, 1, 0.706);
        font-weight: bold;
    }