/*//////color change for menus start//////////*/
#crops-home{
    color:black;
    background:rgb(255, 255, 255);
}
#crops-home:hover{
    background-color: #29ca8e;
    color: #ffffff;
}
 
        /* jab for job-and-market */
#jab-jab{
    background-color: #29ca8e;
    color: #ffffff;
}
/*//////color change for menus end//////////*/

/*//////color change for menus end//////////*/